@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model MonPremierSite.Models.Client

<div>
    <h2 class="mt-5">ListeClients</h2>
    <div class="card">
        <div class="card-body">
            <p class="card-text">
                @ViewData["FirstName"]<br>
                @ViewData["LastName"] <br>
                @ViewData["Username"] <br>
                @ViewData["Email"]
            </p>            
        </div>
    </div>
</div>