@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<fieldset>
    <legend>Modifier un client</legend>

    <div>
        @Html.LabelFor(model => model.FirstName)
        @Html.TextBoxFor(model => model.FirstName)
    </div>
    <div>
        @Html.LabelFor(model => model.LastName)
        @Html.TextBoxFor(model => model.LastName)
    </div>
    <br />
    <input type="submit" value="Modifier" />
</fieldset>